@use 'reset.scss';

body, html {
    font-family: 'Open Sans', sans-serif;
    color: $default_text;
    background: $background;
    scrollbar-gutter: stable;
}

.container {
  max-width: 774px;
  margin: 0 auto;
  padding: 0 10px;
}